body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#quote-box {
  margin: 30vh auto;
  width: 40vw;
}

.quote-sign {
  float: left;
}

#new-quote {
  width: 50%;
  margin: 10px auto;
}

@media screen and (max-width: 600px) {
  #quote-box {
    width: 204px;
    min-width: 204px;
  }
}
